numpy==2.2.5
aiobotocore[boto3]==2.22.0
netCDF4==1.7.2
xarray==2025.4.0
cartopy==0.24.1
cfgrib==0.9.15.0
eccodes==2.41.0
zarr==3.0.7
dask==2025.4.1
s3fs==2025.3.2
bottleneck==1.4.2
rioxarray==0.19.0
distributed==2025.4.1
xarray-spatial==0.4.0
geopandas==1.0.1
nwswx==0.1.2
git+https://github.com/blaylockbk/Herbie.git
pyarrow==20.0.0
numba==0.61.2
