aiohttp==3.13.2
aiobotocore[boto3]==2.25.2
bottleneck==1.6.0
cartopy==0.25.0
cfgrib==0.9.15.1
crc32c==2.8
dask==2025.11.0
distributed==2025.11.0
eccodes==2.42.0
geopandas==1.1.1
git+https://github.com/alexander0042/Herbie.git
metpy==1.7.1
netCDF4==1.7.3
numba==0.62.1
numpy==2.3.3
nwswx==0.1.2
pyarrow==22.0.0
rioxarray==0.20.0
s3fs==2025.10.0
scikit-learn==1.7.2
xarray==2025.11.0
xarray-spatial==0.4.0
zarr==3.1.3
