numpy==2.2.1
boto3==1.35.92
netCDF4==1.7.2
xarray==2025.1.0
cartopy==0.24.1
cfgrib==0.9.15.0
eccodes==2.39.1
zarr==2.18.4
dask==2024.12.1
s3fs==2024.12.0
bottleneck==1.4.2
rioxarray==0.18.1
distributed==2024.12.1
xarray-spatial==0.4.0
redis==5.2.1
rechunker==0.5.2
geopandas==1.0.1
nwswx==0.1.2
git+https://github.com/blaylockbk/Herbie.git