name: Ingest Test

on:
  pull_request:
    branches: ['dev']
  push:
    branches-ignore: ['dev']

jobs:
  ingest-test:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r Docker/requirements-ingest.txt
          pip install pytest
      - name: Run RTMA-RU ingest test
        run: pytest -v tests/test_rtma_ingest.py
      - name: Run WMO Alerts geocode test
        run: pytest -v tests/test_wmo_alerts_geocode.py
      - name: Run DWD Interp test
        run: pytest -v tests/test_dwd_interp_flow.py
      - name: Run DWD NaN Interp test
        run: pytest -v tests/test_interpolate_nan_along_axis.py
