name: Sanity Build

on:
  pull_request:
    branches: ['dev']
  push:
    branches-ignore: ['dev']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.run_id }}
  cancel-in-progress: true

jobs:
  ingest_amd64:
    name: Ingest (x64)
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ghcr.io/complianceascode/pirate-ingest

      - name: Build Ingest for x64
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Docker/pirate-ingest-dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64

  ingest_arm64:
    name: Ingest (ARM64)
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ghcr.io/complianceascode/pirate-ingest

      - name: Build Ingest for ARM
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Docker/pirate-ingest-dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/arm64

  api_amd64:
    name: API (x64)
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ghcr.io/complianceascode/pirate-api

      - name: Build API for x64
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Docker/pirate-api-dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64

  api_arm64:
    name: API (ARM64)
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ghcr.io/complianceascode/pirate-api

      - name: Build API for ARM
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Docker/pirate-api-dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/arm64
